@model List<WishList.Models.Item>
<h1> Wishlist</h1>
<a asp-action="crete">Add Item</a>
<ul>@foreach(var item in Model) { 
    <li>@item.Description <a asp-action-for="delete" asp-route-Id="@item.Id">Delete</a></li>    
    }
</ul>
